In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('ClashRoyal.csv')
df.head()

,Unnamed: 0,TroopName,Cost,HitSpeed,FirstHitSpeed,Speed,DeployTime,Range,SplashRadius,ProjectileSpeed,Target,Count,Transport,Type,Rarity
0,0,Archer_Queen,5.0,1.2 sec,0.3 sec,Medium (60),1 sec,5,NaN,800.0,Air & Ground,x1,Ground,Troop,Champion
1,1,Archers,3.0,0.9 sec,0.5 sec,Medium (60),1 sec,5,NaN,600.0,Air & Ground,x2,Ground,Troop,Common
2,2,Archers/Evolution,3.0,0.9 sec,0.5 sec,Medium (60),1 sec,6,NaN,600.0,Air & Ground,x2,Ground,Troop,Common
3,3,Baby_Dragon,4.0,1.5 sec,0.3 sec,Fast (90),1 sec,3.5,1.5,500.0,Air & Ground,x1,Air,Troop,Epic
4,4,Balloon,5.0,2 sec,0.2 sec,Medium (60),1 sec,Melee: Short (0.1),NaN,NaN,Buildings,x1,Air,Troop,Epic

In [4]:
indices_a_borrar = [5, 12, 13, 30, 42, 44, 49, 56, 69, 77, 83, 103, 106, 109, 114, 115, 116, 117, 118, 119, 120, 121, 122, 124, 125, 134]
df.drop(index=indices_a_borrar, inplace=True)
df.reset_index(drop=True, inplace=True)

In [5]:
df.drop(columns=['SplashRadius'], inplace=True)

In [6]:
df.isna().sum()

Unnamed: 0          0
TroopName           0
Cost                3
HitSpeed           12
FirstHitSpeed      14
Speed               0
DeployTime          3
Range               0
ProjectileSpeed    73
Target              0
Count               7
Transport           0
Type                3
Rarity              3
dtype: int64

Cost

In [7]:
print(df[df['Cost'].isna()].index)

Index([39, 44, 84], dtype='int64')

In [8]:
valores_manual = pd.Series({39:3, 44: 5.0, 84:5.0})
df.loc[valores_manual.index, 'Cost'] = valores_manual

In [9]:
df.loc[valores_manual.index, 'Cost']

39    3.0
44    5.0
84    5.0
Name: Cost, dtype: float64

In [10]:
df.isna().sum()

Unnamed: 0          0
TroopName           0
Cost                0
HitSpeed           12
FirstHitSpeed      14
Speed               0
DeployTime          3
Range               0
ProjectileSpeed    73
Target              0
Count               7
Transport           0
Type                3
Rarity              3
dtype: int64

HitSpeed

In [11]:
df[df['HitSpeed'].isna()].index

Index([11, 12, 25, 31, 48, 53, 54, 60, 93, 100, 104, 105], dtype='int64')

In [ ]:
HitSpeed_manual = pd.Series({
    11:'1.3 sec', 
    12:'1,3 sec', 
    25:'0.0 sec',
    31:'0.0 sec',
    48:'0.0 sec',
    53:'0.0 sec',
    54:'0.0 sec',
    60:'1.2 sec',
    93:'1,0 sec',
    100:'1.4 sec',
    104:'0,0 sec',
    105:'0,0 sec',
    })
df.loc[HitSpeed_manual.index, 'HitSpeed'] = HitSpeed_manual

In [16]:
df.loc[HitSpeed_manual.index, 'HitSpeed']

11     0.0 sec
12     0,0 sec
25     0.0 sec
31     0.0 sec
48     0.0 sec
53     0.0 sec
54     0.0 sec
60     1.2 sec
93     1,0 sec
100    1.4 sec
104    0,0 sec
105    0,0 sec
Name: HitSpeed, dtype: object

In [17]:
df.isna().sum()

Unnamed: 0          0
TroopName           0
Cost                0
HitSpeed            0
FirstHitSpeed      14
Speed               0
DeployTime          3
Range               0
ProjectileSpeed    73
Target              0
Count               7
Transport           0
Type                3
Rarity              3
dtype: int64

FirstHitSpeed

In [18]:
df[df['FirstHitSpeed'].isna()].index

Index([10, 11, 12, 25, 31, 48, 53, 54, 56, 67, 93, 100, 104, 105], dtype='int64')

In [ ]:
FirstHitSpeed_manual = pd.Series({
    10:'0.3 sec',
    11:'0.0 sec', 
    12:'0,0 sec', 
    25:'0.0 sec',
    31:'0.0 sec',
    48:'0.0 sec',
    53:'0.0 sec',
    54:'0.0 sec',
    56:
    67:'1.2 sec',
    93:'1,0 sec',
    100:'1.4 sec',
    104:'0,0 sec',
    105:'0,0 sec',
    })
df.loc[FirstHitSpeed_manual.index, 'HitSpeed'] = FirstHitSpeed_manual

In [14]:
df.to_csv('Intento 3.csv', index=False)