In [38]:
import pandas as pd
import matplotlib.pyplot as plt

In [39]:
df = pd.read_csv('ClashRoyal.csv')
df.head()

,Unnamed: 0,TroopName,Cost,HitSpeed,FirstHitSpeed,Speed,DeployTime,Range,SplashRadius,ProjectileSpeed,Target,Count,Transport,Type,Rarity
0,0,Archer_Queen,5.0,1.2 sec,0.3 sec,Medium (60),1 sec,5,NaN,800.0,Air & Ground,x1,Ground,Troop,Champion
1,1,Archers,3.0,0.9 sec,0.5 sec,Medium (60),1 sec,5,NaN,600.0,Air & Ground,x2,Ground,Troop,Common
2,2,Archers/Evolution,3.0,0.9 sec,0.5 sec,Medium (60),1 sec,6,NaN,600.0,Air & Ground,x2,Ground,Troop,Common
3,3,Baby_Dragon,4.0,1.5 sec,0.3 sec,Fast (90),1 sec,3.5,1.5,500.0,Air & Ground,x1,Air,Troop,Epic
4,4,Balloon,5.0,2 sec,0.2 sec,Medium (60),1 sec,Melee: Short (0.1),NaN,NaN,Buildings,x1,Air,Troop,Epic

In [40]:
indices_a_borrar = [5, 12, 13, 30, 42, 44, 49, 56, 69, 77, 83, 103, 106, 109, 114, 115, 116, 117, 118, 119, 120, 121, 122, 124, 125, 134]
df.drop(index=indices_a_borrar, inplace=True)
df.reset_index(drop=True, inplace=True)

In [41]:
df.drop(columns=['SplashRadius'], inplace=True)

In [42]:
df.isna().sum()

Unnamed: 0          0
TroopName           0
Cost                3
HitSpeed           12
FirstHitSpeed      14
Speed               0
DeployTime          3
Range               0
ProjectileSpeed    73
Target              0
Count               7
Transport           0
Type                3
Rarity              3
dtype: int64

Cost

In [43]:
print(df[df['Cost'].isna()].index)

Index([39, 44, 84], dtype='int64')

In [44]:
valores_manual = pd.Series({39:3, 44: 5.0, 84:5.0})
df.loc[valores_manual.index, 'Cost'] = valores_manual

In [45]:
df.loc[valores_manual.index, 'Cost']

39    3.0
44    5.0
84    5.0
Name: Cost, dtype: float64

In [46]:
df.isna().sum()

Unnamed: 0          0
TroopName           0
Cost                0
HitSpeed           12
FirstHitSpeed      14
Speed               0
DeployTime          3
Range               0
ProjectileSpeed    73
Target              0
Count               7
Transport           0
Type                3
Rarity              3
dtype: int64

HitSpeed

In [47]:
df[df['HitSpeed'].isna()].index

Index([11, 12, 25, 31, 48, 53, 54, 60, 93, 100, 104, 105], dtype='int64')

In [48]:
HitSpeed_manual = pd.Series({
    11:'1.3 sec', 
    12:'1,3 sec', 
    25:'0.2 sec',
    31:'0.2 sec',
    48:'0.2 sec',
    53:'0.2 sec',
    54:'0.2 sec',
    60:'1.2 sec',
    93:'1,0 sec',
    100:'1.4 sec',
    104:'0,0 sec',
    105:'0,0 sec',
    })
df.loc[HitSpeed_manual.index, 'HitSpeed'] = HitSpeed_manual

In [49]:
df.loc[HitSpeed_manual.index, 'HitSpeed']

11     1.3 sec
12     1,3 sec
25     0.2 sec
31     0.2 sec
48     0.2 sec
53     0.2 sec
54     0.2 sec
60     1.2 sec
93     1,0 sec
100    1.4 sec
104    0,0 sec
105    0,0 sec
Name: HitSpeed, dtype: object

In [50]:
df.isna().sum()

Unnamed: 0          0
TroopName           0
Cost                0
HitSpeed            0
FirstHitSpeed      14
Speed               0
DeployTime          3
Range               0
ProjectileSpeed    73
Target              0
Count               7
Transport           0
Type                3
Rarity              3
dtype: int64

FirstHitSpeed

In [51]:
df[df['FirstHitSpeed'].isna()].index

Index([10, 11, 12, 25, 31, 48, 53, 54, 56, 67, 93, 100, 104, 105], dtype='int64')

In [52]:
FirstHitSpeed_manual = pd.Series({
    10:'1.5 sec',
    11:'0.35 sec', 
    12:'0,35 sec', 
    25:'0.2 sec',
    31:'0.2 sec',
    48:'0.2 sec',
    53:'0.2 sec',
    54:'0.2 sec',
    56:'0.4 sec',
    67:'0.0 sec',
    93:'1,0 sec',
    100:'1.4 sec',
    104:'0,0 sec',
    105:'0,0 sec',
    })
df.loc[FirstHitSpeed_manual.index, 'FirstHitSpeed'] = FirstHitSpeed_manual

In [53]:
df.loc[FirstHitSpeed_manual.index, 'FirstHitSpeed']

10      1.5 sec
11     0.35 sec
12     0,35 sec
25      0.2 sec
31      0.2 sec
48      0.2 sec
53      0.2 sec
54      0.2 sec
56      0.4 sec
67      0.0 sec
93      1,0 sec
100     1.4 sec
104     0,0 sec
105     0,0 sec
Name: FirstHitSpeed, dtype: object

In [54]:
df.isna().sum()

Unnamed: 0          0
TroopName           0
Cost                0
HitSpeed            0
FirstHitSpeed       0
Speed               0
DeployTime          3
Range               0
ProjectileSpeed    73
Target              0
Count               7
Transport           0
Type                3
Rarity              3
dtype: int64

DeployTime

In [55]:
df[df['DeployTime'].isna()].index

Index([39, 44, 84], dtype='int64')

In [56]:
DeployTime_manual = pd.Series({
    39:'1.0 sec',
    44:'1.0 sec', 
    84:'1.0 sec', 
    })
df.loc[DeployTime_manual.index, 'DeployTime'] = DeployTime_manual

In [57]:
df.loc[DeployTime_manual.index, 'DeployTime']

39    1.0 sec
44    1.0 sec
84    1.0 sec
Name: DeployTime, dtype: object

In [58]:
df.isna().sum()

Unnamed: 0          0
TroopName           0
Cost                0
HitSpeed            0
FirstHitSpeed       0
Speed               0
DeployTime          0
Range               0
ProjectileSpeed    73
Target              0
Count               7
Transport           0
Type                3
Rarity              3
dtype: int64

ProjectileSpeed

In [59]:
df[df['ProjectileSpeed'].isna()].index

Index([  4,   5,   6,   7,   8,   9,  10,  11,  12,  13,  16,  19,  22,  23,
        24,  25,  26,  27,  28,  31,  34,  36,  37,  38,  39,  40,  41,  42,
        43,  44,  45,  46,  47,  48,  49,  52,  53,  54,  56,  57,  58,  61,
        62,  64,  65,  67,  68,  69,  72,  76,  77,  78,  79,  80,  82,  83,
        84,  85,  88,  89,  90,  91,  92,  93,  95,  96,  97, 100, 102, 103,
       104, 105, 110],
      dtype='int64')

In [60]:
ProjectileSpeed_manual = pd.Series({
    39:500,
    40:500, 
    83:600, 
    84:800
    })
df.loc[ProjectileSpeed_manual.index, 'ProjectileSpeed'] = ProjectileSpeed_manual

In [61]:
df['ProjectileSpeed'].fillna(0, inplace=True)

C:\Users\agabr\AppData\Local\Temp\ipykernel_17928\1631792000.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ProjectileSpeed'].fillna(0, inplace=True)

In [62]:
df.isna().sum()

Unnamed: 0         0
TroopName          0
Cost               0
HitSpeed           0
FirstHitSpeed      0
Speed              0
DeployTime         0
Range              0
ProjectileSpeed    0
Target             0
Count              7
Transport          0
Type               3
Rarity             3
dtype: int64

In [63]:
indices_a_borrar = [82]
df.drop(index=indices_a_borrar, inplace=True)
df.reset_index(drop=True, inplace=True)

Count

In [64]:
df[df['Count'].isna()].index

Index([26, 48, 53, 54, 61, 62, 92], dtype='int64')

In [65]:
Count_manual = pd.Series({
    17: 'x1',
    26: 'x1',
    34: 'x1',
    48: 'x1',
    53: 'x1',
    54: 'x1',
    61: 'x1',
    62: 'x1',
    92: 'x7'
    })
df.loc[Count_manual.index, 'Count'] = Count_manual

In [66]:
df.isna().sum()

Unnamed: 0         0
TroopName          0
Cost               0
HitSpeed           0
FirstHitSpeed      0
Speed              0
DeployTime         0
Range              0
ProjectileSpeed    0
Target             0
Count              0
Transport          0
Type               3
Rarity             3
dtype: int64

Type

In [67]:
df[df['Type'].isna()].index

Index([39, 44, 83], dtype='int64')

In [68]:
df['Type'].fillna('Troop', inplace=True)

C:\Users\agabr\AppData\Local\Temp\ipykernel_17928\490716706.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Type'].fillna('Troop', inplace=True)

In [69]:
df.isna().sum()

Unnamed: 0         0
TroopName          0
Cost               0
HitSpeed           0
FirstHitSpeed      0
Speed              0
DeployTime         0
Range              0
ProjectileSpeed    0
Target             0
Count              0
Transport          0
Type               0
Rarity             3
dtype: int64

Rarity

In [70]:
df[df['Rarity'].isna()].index

Index([39, 44, 83], dtype='int64')

In [71]:
Rarity_manual = pd.Series({
    39:'Common',
    44:'Champion',
    83:'Common'
    })
df.loc[Rarity_manual.index, 'Rarity'] = Rarity_manual

In [72]:
df.isna().sum()

Unnamed: 0         0
TroopName          0
Cost               0
HitSpeed           0
FirstHitSpeed      0
Speed              0
DeployTime         0
Range              0
ProjectileSpeed    0
Target             0
Count              0
Transport          0
Type               0
Rarity             0
dtype: int64

In [73]:
df.to_csv('ClashRoyal_limpio.csv', index=False)