In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('ClashRoyal.csv')
df.head()

,Unnamed: 0,TroopName,Cost,HitSpeed,FirstHitSpeed,Speed,DeployTime,Range,SplashRadius,ProjectileSpeed,Target,Count,Transport,Type,Rarity
0,0,Archer_Queen,5.0,1.2 sec,0.3 sec,Medium (60),1 sec,5,NaN,800.0,Air & Ground,x1,Ground,Troop,Champion
1,1,Archers,3.0,0.9 sec,0.5 sec,Medium (60),1 sec,5,NaN,600.0,Air & Ground,x2,Ground,Troop,Common
2,2,Archers/Evolution,3.0,0.9 sec,0.5 sec,Medium (60),1 sec,6,NaN,600.0,Air & Ground,x2,Ground,Troop,Common
3,3,Baby_Dragon,4.0,1.5 sec,0.3 sec,Fast (90),1 sec,3.5,1.5,500.0,Air & Ground,x1,Air,Troop,Epic
4,4,Balloon,5.0,2 sec,0.2 sec,Medium (60),1 sec,Melee: Short (0.1),NaN,NaN,Buildings,x1,Air,Troop,Epic

In [3]:
df.isna().sum()

Unnamed: 0           0
TroopName            0
Cost                15
HitSpeed            26
FirstHitSpeed       28
Speed               14
DeployTime          14
Range               14
SplashRadius       114
ProjectileSpeed     95
Target               4
Count               23
Transport           14
Type                20
Rarity              20
dtype: int64

In [6]:
df_clean = df.drop(columns=['SplashRadius'])
df_clean.head()

,Unnamed: 0,TroopName,Cost,HitSpeed,FirstHitSpeed,Speed,DeployTime,Range,ProjectileSpeed,Target,Count,Transport,Type,Rarity
0,0,Archer_Queen,5.0,1.2 sec,0.3 sec,Medium (60),1 sec,5,800.0,Air & Ground,x1,Ground,Troop,Champion
1,1,Archers,3.0,0.9 sec,0.5 sec,Medium (60),1 sec,5,600.0,Air & Ground,x2,Ground,Troop,Common
2,2,Archers/Evolution,3.0,0.9 sec,0.5 sec,Medium (60),1 sec,6,600.0,Air & Ground,x2,Ground,Troop,Common
3,3,Baby_Dragon,4.0,1.5 sec,0.3 sec,Fast (90),1 sec,3.5,500.0,Air & Ground,x1,Air,Troop,Epic
4,4,Balloon,5.0,2 sec,0.2 sec,Medium (60),1 sec,Melee: Short (0.1),NaN,Buildings,x1,Air,Troop,Epic

In [7]:
df_clean.shape

(137, 14)

In [8]:
df_clean = df.drop(index=[
5
,12
,13
,30
,42
,44
,49
,56
,69
,77
,83
,103
,106
,109
,114
,115
,116
,117
,118
,119
,120
,121
,122
,124
,125
,134
])
df_clean.reset_index(drop=True, inplace=True)
df_clean.head()

,Unnamed: 0,TroopName,Cost,HitSpeed,FirstHitSpeed,Speed,DeployTime,Range,SplashRadius,ProjectileSpeed,Target,Count,Transport,Type,Rarity
0,0,Archer_Queen,5.0,1.2 sec,0.3 sec,Medium (60),1 sec,5,NaN,800.0,Air & Ground,x1,Ground,Troop,Champion
1,1,Archers,3.0,0.9 sec,0.5 sec,Medium (60),1 sec,5,NaN,600.0,Air & Ground,x2,Ground,Troop,Common
2,2,Archers/Evolution,3.0,0.9 sec,0.5 sec,Medium (60),1 sec,6,NaN,600.0,Air & Ground,x2,Ground,Troop,Common
3,3,Baby_Dragon,4.0,1.5 sec,0.3 sec,Fast (90),1 sec,3.5,1.5,500.0,Air & Ground,x1,Air,Troop,Epic
4,4,Balloon,5.0,2 sec,0.2 sec,Medium (60),1 sec,Melee: Short (0.1),NaN,NaN,Buildings,x1,Air,Troop,Epic

In [11]:
df_clean.at[45, 'Cost'] = 3.0
df_clean.at[51, 'Cost'] = 5.0
df_clean.at[95, 'Cost'] = 5.0

In [12]:
df_clean.isna().sum()

Unnamed: 0          0
TroopName           0
Cost                3
HitSpeed           12
FirstHitSpeed      14
Speed               0
DeployTime          3
Range               0
SplashRadius       88
ProjectileSpeed    73
Target              0
Count               7
Transport           0
Type                3
Rarity              3
dtype: int64